<!-- <ul>
<li *ngFor="let item of items | async">
  {{ item.name }}
</li>
</ul> -->

<p>Start editing to see some magic happen :)</p>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Message</mat-label>
    <input
      matInput
      #message
      maxlength="256"
      placeholder="Ex. I need help with..."
    />
    <mat-hint align="start"
      ><strong>Don't disclose personal info</strong>
    </mat-hint>
    <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    
  </mat-form-field>
  <button mat-button (onclick)="addItem(message)">Ajouter la valeur : {{message.value}}</button>
</form>
